# vim: ft=apparmor

#include <tunables/global>

/usr/lib/dovecot/config {
  #include <abstractions/base>
  #include <abstractions/nameservice>
  #include <abstractions/dovecot-common>
  #include <abstractions/ssl_certs>
  #include <abstractions/ssl_keys>

  deny capability block_suspend,
  capability setgid,

  /etc/dovecot/dovecot.conf r,
  /etc/dovecot/conf.d/*     r,

  # Site-specific additions and overrides. See local/README for details.
  #include <local/usr.lib.dovecot.config>
}
