# ------------------------------------------------------------------
#
#    Copyright (C) 2013-2020 Christian Boltz
#
#    This program is free software; you can redistribute it and/or
#    modify it under the terms of version 2 of the GNU General Public
#    License published by the Free Software Foundation.
#
# ------------------------------------------------------------------
# vim: ft=apparmor

abi <abi/3.0>,

include <tunables/global>

profile dovecot-config /usr/lib/dovecot/config {
  include <abstractions/base>
  include <abstractions/nameservice>
  include <abstractions/dovecot-common>
  include <abstractions/ssl_keys>

  capability dac_read_search,
  capability dac_override,

  /etc/dovecot/** r,
  /usr/bin/doveconf rix,
  /usr/lib/dovecot/config mr,
  /usr/lib/dovecot/managesieve Px,
  /usr/share/dovecot/** r,
  /var/lib/dovecot/ssl-parameters.dat r,

  # Site-specific additions and overrides. See local/README for details.
  include if exists <local/usr.lib.dovecot.config>
}
